* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  --primary-color: #6c5ce7;
  --secondary-color: #a29bfe;
  --light-color: #eeeeee;
}

html, 
body {
  min-height: 100%;
  background: var(--light-color);
}

.container {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 1.6rem 0 3.2rem;
  text-transform: uppercase;
  font-size: 3rem;
  color: var(--primary-color);
}

table {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-collapse: collapse;
  text-align: center;
  overflow: hidden;
}

table thead {
  background: var(--primary-color);
  color: var(--light-color);
}

table tbody tr {
  border-bottom: .1rem solid var(--primary-color);
  transition: background 0.3s, color 0.3s;
}

table tbody tr:hover {
  background: var(--secondary-color);
  color: var(--light-color);
}

table th,
table td {
  max-width: 4rem;
  padding: 1.2rem 0;
  font-size: 1.4rem;
  word-wrap: break-word;
}

table th {
  text-transform: uppercase;
  font-weight: 700;
}

.btn-export {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  background: var(--primary-color);
  width: 20rem;
  height: 3rem;
  border: none;
  border-radius: 1rem;
  margin-top: 3.2rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--light-color);
  transition: background 0.3s;
}

.btn-export:hover {
  background: var(--secondary-color);
}
